@import './reset.css';

/* Estilos principais */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding-top: 2rem; 
  background: linear-gradient(160deg, rgba(38, 38, 38, 1) 35%, rgba(0, 0, 0, 1) 100%);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  padding: 100;
  flex-direction: column;
}

/* Layout principal */
.layout {
  display: flex;
  width: 90%;
  height: 90vh;
  gap: 2.7rem; 
  align-items: flex-start;
  }

/* Área de perfil - 35% */
.profile {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile img {
  width: 80%; 
  height: auto;
  max-width: 150px; 
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.subtitle {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

.description {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.5; 
  max-width: 100%; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  display: block;
  padding-right: 50px;
  padding-bottom: 100px;
}

.title, .subtitle, .description {
  font-family: 'Inter', sans-serif;
}

/* Área de cards - 65% */
.cards {
  flex: 0 0 65%;
  display: flex;
  gap: 2.5rem;
}

/* Colunas tech / design */
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem; 
}

/* Layout em linha para Blog e Mail e Figma e Behance */
.row-layout {
  display: flex; 
  gap: 2.5rem; 
}

.row-layout .card {
  flex: 1; 
}

/* Remova margens individuais dos cards */
.card-linkedin,
.card-github,
.card-portfolio,
.card-blog,
.card-contact,
.card-figma,
.card-behance {
  margin: 0; 
}

/* Ajuste para as imagens dentro dos cards */
.card img {
  width: 100%;
  height: auto;
  object-fit: contain; 
}

/* Animação de fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards; 
}

.disclaimer {
  display: none;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .layout {
    flex-direction: column; 
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  /* Área de perfil */
  .profile {
    width: 100%; 
    text-align: center;
    margin-bottom: 2rem; 
  }

  .profile img {
    width: 120px; 
    height: 120px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .subtitle {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1rem;
    text-align: left;
  }

  .description {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 1rem;
    padding: 0%;
    padding-right: 5%;
    text-align: left;
  }

  /* Títulos das seções */
  .section-title {
    font-size: 1.2rem;
    text-align: left; 
    padding-left: 5%;
    margin-bottom: -1rem;
  }

  /* Área de cards */
  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .card {
    text-align: center;
  }

  .card img {
    width: 200px; 
    height: auto; 
    margin-bottom: 1rem; 
  }

  .card p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    color: #fff; 
  }

  .card span {
    font-size: 0.9rem;
    color: #ccc;
  }

  img[src="images/Linkedin.png"],
  img[src="images/Github.png"],
  img[src="images/Portfolio.png"] {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
  }
  img[src="images/Figma.png"],
  img[src="images/Behance.png"] {
    margin-bottom: 20px;
  }

  .disclaimer {
    display: flex;
    font-size: 10px;
    color: #ccc;
    text-align: center;
    margin-bottom: 30px;
  }
  
}