@import './reset.css';

/* Estilos principais */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding-top: 2rem; 
  background-color: #0f0f0f;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout principal */
.layout {
  display: flex;
  width: 90%;
  height: 90vh;
  gap: 2.7rem; 
  align-items: flex-start;
}

/* Área de perfil - 35% */
.profile {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile img {
  width: 80%; 
  height: auto;
  max-width: 150px; 
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.subtitle {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

.description {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.5; 
  max-width: 100%; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  display: block;
  padding-right: 50px;
}

.title, .subtitle, .description {
  font-family: 'Inter', sans-serif;
}

/* Área de cards - 65% */
.cards {
  flex: 0 0 65%;
  display: flex;
  gap: 2.5rem;
}

/* Colunas tech / design */
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem; 
}

/* Layout em linha para Blog e Mail e Figma e Behance */
.row-layout {
  display: flex; 
  gap: 2.5rem; 
}

.row-layout .card {
  flex: 1; 
}

/* Remova margens individuais dos cards */
.card-linkedin,
.card-github,
.card-portfolio,
.card-blog,
.card-contact,
.card-figma,
.card-behance {
  margin: 0; 
}

/* Ajuste para as imagens dentro dos cards */
.card img {
  width: 100%;
  height: auto;
  object-fit: contain; 

/* Animação de fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards; 
}}